

<!-- <app-home></app-home> -->
<!-- <router-outlet></router-outlet> -->
<!-- <app-demo></app-demo> -->

<!-- <button routerLink="root">Route to root</button>



<div class="card-body "><router-outlet></router-outlet></div>


<app-pipeimplement></app-pipeimplement>  -->


<!-- <label>Country</label>
<div title="Aelect the Country">
<select aria-placeholder="Country" (change)="changeCountry($event)">
  <option *ngFor="let count of countryLit">{{count.name}}</option>
  </select>
  </div>


  <div title="Aelect the City">
    <select aria-placeholder="state" (change)="changeCountry($event)">
      <option *ngFor="let city of cities">{{city}}</option>
      </select>
      </div> -->

      <app-dropdown></app-dropdown>

      <!-- <app-dropdownusingservice></app-dropdownusingservice> -->

